.row {
	background: linear-gradient(-45deg, #242526, #242526, #242526, #242526);
	/* background: linear-gradient(-45deg, #121212, #11001a, #850068, #11001a);*/
	background-size: 400% 400%;
	-webkit-animation: gradient 45s ease infinite;
	        animation: gradient 45s ease infinite;
}

body {
	background: linear-gradient(-45deg, #18191a, #18191a, #18191a, #18191a);
	/* background: linear-gradient(-45deg, #121212, #11001a, #121212, #11001a); */
	background-size: 400% 400%;
	-webkit-animation: gradient 100s ease infinite;
	        animation: gradient 100s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}